*{
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.body{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/haha.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.line{
  width:50%;
  text-align:center;
  margin: 0 auto;
}

.main{
  position: ;
}

.main ul{
  list-style-type: none;
  text-align: center;
}

.main ul li{
  display: inline;
}

.main ul li a{
  text-decoration: none;
  color: #ffffff;
  padding: 0.1vw 3vh;
}

.main ul li a:hover{
  background-color: #ffffff;
  color: #000;
  transition: 0.5s;
}

.main ul li.active a{
  background-color: #ffffff;
  color: #000;
}

.prag1{
    width: 960px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 36px;
    text-align: center;
    border-radius: 60px 60px 60px 60px;
    background-color: rgba(255, 255, 255);
}
.heading{
  text-align: center;
  color: blue;
}
.marq{
  text-align: center;
  color: red;
  width: 600px;
  font-size: 20px;
}
.formhey{
  background-color: #00e2ff;
  margin: 20px;
  border-radius: 80px 0px 80px 0px;
}
.currency{
  padding: 30px;
  border-radius: 80px 0px 80px 0px;
  border-color: #ff0058;
  font-size: 20px;
}

.inp{
  border-color: #ff0058;
  font-size: 16px;
  text-align: center;
}
